@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Hello Dear Readers!</h1>
    <p>This app is a demo app for my series on Middleware in ASP.NET 6. It contains several examples of how to use Middleware in common applications.</p>
    <p></p>
</div>
